@import '../../styles/variables'

.films
  &__header
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    padding: 20px 0px

    a
      text-decoration: underline

  &__sub
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%

    a
      padding: 0px 7px 0px 5px

  &__sort
    &:not(.films__sort--active)
      text-decoration: none

    &:not(:last-child)
      border-right: 1px solid white

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    list-style: none
    margin: 0
    padding: 0

  &__item
    display: flex
    flex-direction: column
    width: 275px
    height: 389px
    overflow: hidden
    margin-bottom: 20px
    background-color: $poster-bg-color
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.8)
    border-radius: 6px

    img
      width: 100%
      height: auto
